@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

*:focus {
    border: 2px solid black;
  }

h1 {
    font-size: 65px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 1em;
}

header {
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    padding: 15px;
    display: flex;
}

header > nav {
    padding: 30px;
    background-color: #000;
}

main {
    padding-left: 40px;
    padding-right: 40px;
}

ul {
    list-style-type: none;
}

footer ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, auto); /* 8 col */
}

.footer-item {
    padding-left: 20px;
    padding-right: 20px;
    grid-row: 1 / -1;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.name-logo {
    font-size: 45px;
}

a:link {
    text-decoration: none;
}

.nav-item a {
    color: #fff;
}

.nav-item a:hover {
    text-decoration: underline;

}

.nav-item a:visited {
    color: #fff;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    -o-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
  

a.skip:focus {
    top:20px;
    color: black;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
  }

.thumbnail {
width: auto;
height: 250px;
}

.project-card:after {
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.project-card:hover:after {
    opacity: 1;
}

.parallax {
    background-image: url("../projects/assets/roots-parallex.jpg");
  
    /* Set a specific height */
    height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.social-media-icon {
    width: 35px;
    height: auto;
}